<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />
    <link rel="stylesheet" href="/javascripts/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.css" >

    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.mask.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery-ui.min.js" ></script>

    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js" ></script>

    <script type="text/javascript" src="/javascripts/patientDetails.js" ></script>
  </head>
  <body>

  <%- include('../partials/nav', {active: "navFindPatient"}); %>

  <%
  var formatCPF = function (cpf){
    return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
  }
  var behaviorToText = function (behavior){
    switch (behavior) {
      case 1:
        return "Sem alteração de frênulo lingual";
      case 2:
        return "Frenotomia sugerida";
      case 3:
        return "Em monitoramento";
      default:
        return "Não respondida"
    }
  }
  var telFormat = function (tel) {
    if (!tel){
      return "";
    }
    tel.length === 10 ? tel = tel.replace(/(^)(\d{2})(\d{4})(\d{2})/, "$1($2) $3 $4") : tel = tel.replace(/(^)(\d{2})(\d{5})(\d{2})/, "$1($2) $3 $4");
    return tel;
  }
  var dateToText = function (date) {
    let day = date.getDate().toString();
    let month = date.getMonth() + 1 + "";
    let year = date.getFullYear();
    if (day.length < 2){
      day = 0  + "" + day;
    }
    if (month.length < 2){
      month = 0 + "" + month;
    }
    return day + "/" + month + '/' + year;
  }
  %>

    <div class="container mainContainer">
      <div class="row align-items-center">  <%# Linha do título História Clínica 1 %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <h2 class="text-center border border-dark rounded">Detalhes do Paciente</h2>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
          <p>Nome: <%= patient.name;%></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 mr-auto">
          <p>Nascimento: <%= dateToText(patient.birthDate);%></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 ml-auto">
          <p>Gênero: <%= (patient.genre == 1) ? 'Masculino' : 'Feminino';%></p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
          <p>Nome da mãe: <%= patient.motherName;%></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
          <p>CPF da mãe: <%= formatCPF(patient.motherCPF);%></p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ml-auto">
          <p>Nome do pai: <%= patient.fatherName;%></p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
          <p>Endereço: <%= patient.address;%></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
          <p>Número: <%= patient.residenceNumber;%></p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
          <p>Bairro: <%= patient.neighborhood;%></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 mr-auto">
          <p>Cidade: <%= patient.city;%></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 ml-auto">
          <p>Estado: <%= patient.state %></p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
          <p>CEP: <%= patient.cep;%></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
          <p>E-mail: <%= patient.email;%></p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 ml-auto">
          <p >Tel. residencial: <span class="telMask"><%= telFormat(patient.resTel);%></span></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 mr-auto">
          <p>Tel. Trabalho: <span class="telMask"><%= telFormat(patient.commercialTel);%></span></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 ml-auto">
          <p>Celular: <span class="telMask"><%= telFormat(patient.celPhone); %></span></p>
        </div>
      </div>
    </div> <%# Containner %>

  <div class="container mainContainer"> <%# Containner Botões %>
    <div class="row align-items-center"> <%# Descrição da Pontuação %>
      <div class="col-12 col-sm-4 col-md-4 col-lg-2 mr-auto">
        <button class="btn btn-primary btn-block text-uppercase" type="button" id="deleteBtn" onclick="deletePatient('<%= patient._id %>')">Excluir</button>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-2 ml-auto">
        <button class="btn btn-primary btn-block text-uppercase" type="button" id="editBtn" onclick="location.replace('/editPatient/<%= patient._id %>/edit');">Editar</button>
      </div>
    </div>
  </div> <%# Containner %>

  <div class="container mainContainer">
      <div class="row align-items-center"> <%# Descrição da Pontuação %>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col" class="text-center">Data da Avaliação</th>
              <th scope="col" class="text-center">Pontos (História Clínica)</th>
              <th scope="col" class="text-center">Pontos (Exame Clínico)</th>
              <th scope="col" class="text-center">Total de Pontos</th>
              <th scope="col" class="text-center">Conduta</th>
              <th scope="col" class="text-center">Opções</th>
            </tr>
          </thead>
          <tbody>
            <% patient.assessments.forEach(function(assessment){ %>
              <tr>
                <th scope="row" class="text-center"><%= dateToText(assessment.assessmentDate); %></th>
                <td class="text-center"><%= assessment.clinicalHistoryPoints; %></td>
                <td class="text-center"><%= assessment.clinicalAssessmentPoints; %></td>
                <td class="text-center"><%= assessment.historyAssessmentPoints; %></td>
                <td class="text-center"><%= behaviorToText(assessment.assBehavior); %></td>
                <td class="text-center text-nowrap">
                  <a href="/assessment/assessmentExtract?patientId=<%= patient._id.toString(); %>&assessmentId=<%= assessment._id.toString(); %>"  target="_blank" class="mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                      <path fill="none" d="M0 0h24v24H0V0z"/>
                      <path opacity=".3" d="M12 6c-3.79 0-7.17 2.13-8.82 5.5C4.83 14.87 8.21 17 12 17s7.17-2.13 8.82-5.5C19.17 8.13 15.79 6 12 6zm0 10c-2.48 0-4.5-2.02-4.5-4.5S9.52 7 12 7s4.5 2.02 4.5 4.5S14.48 16 12 16z"/>
                      <path d="M12 4C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 13c-3.79 0-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6s7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17zm0-10c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7zm0 7c-1.38 0-2.5-1.12-2.5-2.5S10.62 9 12 9s2.5 1.12 2.5 2.5S13.38 14 12 14z"/>
                    </svg>
                  </a>
                  <a href="/editPatient/assessmentEdit/?patientId=<%= patient._id %>&assessmentId=<%= assessment._id %>" class="ml-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                      <path fill="none" d="M0 0h24v24H0V0z"/>
                      <path opacity=".3" d="M5 18.08V19h.92l9.06-9.06-.92-.92z"/>
                      <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/>
                    </svg>
                  </a>
                  <a href="#" onclick="deleteAssessment('<%= patient._id %>', '<%= assessment._id %>');return false;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                      <path fill="none" d="M0 0h24v24H0V0z"/>
                      <path d="M3 8v16h18v-16h-18zm5 12c0 .552-.448 1-1 1s-1-.448-1-1v-8c0-.552.448-1 1-1s1 .448 1 1v8zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-8c0-.552.448-1 1-1s1 .448 1 1v8zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-8c0-.552.448-1 1-1s1 .448 1 1v8zm4-15.375l-.409 1.958-19.591-4.099.409-1.958 5.528 1.099c.881.185 1.82-.742 2.004-1.625l5.204 1.086c-.184.882.307 2.107 1.189 2.291l5.666 1.248z"/>
                    </svg>
                  </a>
                </td>
              </tr>
            <%});%>
          </tbody>
        </table>
    </div>
  </div> <%# Containner %>

  <div class="container finalContainer"> <%# Containner Botões %>
    <div class="row align-items-center"> <%# Descrição da Pontuação %>
      <div class="col-12 col-sm-4 col-md-4 col-lg-2 mr-auto">
        <button class="btn btn-primary btn-block text-uppercase" type="button" id="backBtn" >Voltar</button>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-2 ml-auto">
        <button class="btn btn-primary btn-block text-uppercase" type="button" id="newTestBtn" onclick="window.location.href='/editPatient/assessmentNew/?patientId=<%= patient._id.toString(); %>'" >Novo Teste</button>
      </div>
    </div>
  </div> <%# Containner %>

    <% include ../partials/footer %>

  <div class="dialogJquery" id="dialog-message" title="Título">
    <p>
      Mensagem
    </p>
  </div>

  <div class="dialogJquery" id="dialog-confirm" title="Confirmação">
    <p><span class="ui-icon ui-icon-alert" style="margin:12px 12px 12px 0;font-size: 30px !important;"></span><span id="dialogText">Confirma a exclusão do paciente?</span></p>
  </div>