<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />
    <link rel="stylesheet" href="/stylesheets/userNewViewEdit.css" />

    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.mask.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery-validation-1.19.1/jquery.validate.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery-validation-1.19.1/additional-methods.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery-validation-1.19.1/localization/messages_pt_BR.js" ></script>

    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/javascripts/controllers/userValidate.js" ></script>
    <script type="text/javascript" src="/javascripts/controllers/passwordValidate.js" ></script>
    <script type="text/javascript" src="/javascripts/userNewViewEdit.js" ></script>
    <script>
      const userConfig = '<%- userConfig %>';
      const profile = <%- JSON.stringify(profile) %>;
      const user = <%- JSON.stringify(user) %>;
    </script>

  </head>
  <body>

    <%- include('../partials/nav', {active: "navUsers"}); %>

    <form id="userForm">
      <div class="container mainContainer">
          <div class="row align-items-center">  <%# Linha do título %>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
              <h2 class="text-center border border-dark rounded"><%=userTitle%></h2>
            </div>
          </div>

          <div class="row align-items-center"> <%# Nome / Sobrenome %>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
              <div class="form-label-group">
                <input
                        type="text"
                        name="inputName"
                        id="inputName"
                        class="form-control"
                        placeholder="Nome*"
                        minlength="5"
                        maxlength="100"
                        required
                        autofocus
                        value="<%=profile !== null ? profile.name : '';%>" >
                <label for="inputName">Nome<span class="requiredField">*</span></label>
              </div>
              <label for="inputName" class="error"></label>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
              <div class="form-label-group">
                <input
                        type="text"
                        name="inputLastName"
                        id="inputLastName"
                        class="form-control"
                        placeholder="Sobrenome*"
                        minlength="5"
                        maxlength="100"
                        required
                        value="<%=profile !== null ? profile.lastName : '';%>"
                >
                <label for="inputLastName">Sobrenome<span class="requiredField">*</span></label>
              </div>
              <label for="inputLastName" class="error"></label>
            </div>
          </div>

          <div class="row align-items-center"> <%# CPF / Registro / Profissão %>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 ml-auto mb-3">
              <div class="form-label-group">
                <input
                        type="text"
                        name="inputCPF"
                        id="inputCPF"
                        class="form-control"
                        placeholder="CPF*"
                        minlength="14"
                        maxlength="14"
                        required
                        onkeypress="$(this).mask('000.000.000-00');"
                        value="<%=profile !== null ? profile.cpf : '';%>"
                >
                <label for="inputCPF">CPF<span class="requiredField">*</span></label>
              </div>
              <label for="inputCPF" class="error"></label>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 mx-auto">
              <div class="form-label-group">
                <input
                        type="text"
                        name="inputRegistry"
                        id="inputRegistry"
                        class="form-control"
                        placeholder="Registro no Conselho*"
                        minlength="5"
                        maxlength="10"
                        required
                        value="<%=profile !== null ? profile.registry : '';%>"
                >
                <label for="inputRegistry">Registro no Conselho<span class="requiredField">*</span></label>
              </div>
              <label for="inputRegistry" class="error"></label>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 mx-auto">
              <div class="form-label-group">
                <input
                        type="text"
                        name="inputOccupation"
                        id="inputOccupation"
                        class="form-control"
                        placeholder="Profissão*"
                        minlength="5"
                        maxlength="20"
                        required
                        value="<%=profile !== null ? profile.occupation : '';%>"
                >
                <label for="inputOccupation">Profissão<span class="requiredField">*</span></label>
              </div>
              <label for="inputOccupation" class="error"></label>
            </div>
          </div>

          <div class="row align-items-center"> <%# E-mail / Administrador %>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
              <div class="form-label-group">
                <input
                        type="email"
                        name="inputEmail"
                        id="inputEmail"
                        class="form-control"
                        placeholder="E-mail*"
                        value="<%=profile !== null ? profile.email : '';%>">
                <label for="inputEmail">E-mail<span class="requiredField">*</span></label>
              </div>
              <label for="inputEmail" class="error"></label>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 mx-auto">
              <div class="form-check-inline">
                <label class="form-check-label mb-3">
                  <input
                          type="checkbox"
                          class="option-input radio"
                          name="cbAdm"
                          id="cbAdm"
                          value="true"
                          <%= profile !== null ? (profile.admin ? "checked" : "") : ""%>
                  >Administrador(a)
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
      </div> <%# Containner %>

      <div class="container mainContainer" id="btnContainer"> <%# Containner Botões %>

        <div class="row align-items-center"> <%# Botões %>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 mr-auto">
            <button class="btn btn-primary btn-block text-uppercase" type="button" id="prevBtn" >Voltar</button>
          </div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 mx-auto">
            <button class="btn btn-primary btn-block text-uppercase" type="button" id="deleteBtn" >Excluir</button>
          </div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 ml-auto">
            <button class="btn btn-primary btn-block text-uppercase" type="submit" id="confirmBtn" >Confirmar</button>
          </div>
        </div>
        <div class="row align-items-center"> <%# Mensagem de Erro para Edição de usuário %>
          <div class="col-6 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <div class="alert alert-danger text-center mt-3 mb-0 p-0" id="userMessage" style="display: none"></div>
          </div>
        </div>
      </div> <%# Containner Botões %>
    </form>

    <div class="container mainContainer" id="passwordContainer"> <%# Containner Reinicializar Senha %>
    <form id="passwordReset">
      <div class="row align-items-center">  <%# Linha do título %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <h2 class="text-center border border-dark rounded" id="passwordTitle"></h2>
        </div>
      </div>

      <div class="row align-items-center"> <%# Nova Senha %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
          <div class="form-label-group">
            <input
                    type="password"
                    id="inputPassword"
                    name="inputPassword"
                    class="form-control"
                    placeholder="Nova Senha"
                    required
            >
            <label for="inputPassword">Nova Senha</label>
          </div>
          <label for="inputPassword" class="error"></label>
        </div>
      </div>

      <div class="row align-items-center"> <%# Confirmar Nova Senha %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto mb-3">
          <div class="form-label-group">
            <input
                    type="password"
                    id="inputPasswordConfirm"
                    name="inputPasswordConfirm"
                    class="form-control"
                    placeholder="Confirme a Nova Senha"
                    required
            >
            <label for="inputPasswordConfirm">Confirme a Nova Senha</label>
          </div>
          <label for="inputPasswordConfirm" class="error"></label>
        </div>
      </div>
      <div class="row align-items-center" id="resetPasswordBtnRow">
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 mx-auto">
          <button class="btn btn-primary btn-block text-uppercase" type="button" id="resetPasswordBtn" >Reinicializar</button>
        </div>
      </div>
      <div class="row align-items-center"> <%# Mensagem de Erro para Edição de usuário %>
        <div class="col-6 col-sm-4 col-md-4 col-lg-4 mx-auto">
          <div class="alert alert-danger text-center mt-3 mb-0 p-0" id="passwordMessage" style="display: none"></div>
        </div>
      </div>
    </form>

  </div> <%# Containner %>

    <%- include ('../partials/footer') %>
